<div class="gtco-container">
  <div class="row">
<ul class="col-md-2 sidebar">
  <li *ngFor="let year of years" >
    <a class="button cyan" [routerLink]="['/publications', year]">{{ year }}</a>
  </li>
</ul>

    <!-- Content Center -->
    <div class="col-md-8 content">
      <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime beatae repellat cum similique impedit magni nesciunt, voluptate eligendi optio fugit temporibus labore iste dolorum autem dolores! Quas nobis praesentium facere dignissimos laboriosam sunt corporis neque architecto excepturi in voluptas labore consectetur dolorum, a repudiandae non dicta est! Neque, minus unde.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum repellendus error neque temporibus voluptatum animi et vitae sapiente repellat? Totam quo porro exercitationem accusamus odio. Repellendus consequuntur nihil ex, veritatis expedita, nulla, corrupti aliquam eligendi quo reprehenderit at? Architecto inventore error non. Maxime placeat ullam inventore eligendi provident minus voluptatibus?
      </h1>


    </div>
    <!-- Content Right -->
    <div class="col-md-2 right-content">
      <h2></h2>
    </div>
</div>
</div>
