<div class="gtco-container">
    <div class="row">
      <!-- Content Left (Sidebar) -->
      <div class="col-md-2 sidebar">
        <a routerLink="/lecture/2020" class="button cyan">2020</a>
        <a routerLink="/lecture/2019" class="button cyan">2019</a>
        <a routerLink="/lecture/2018" class="button cyan">2018</a>
        <a routerLink="/lecture/2017" class="button cyan">2017</a>
        <a routerLink="/lecture/2016" class="button cyan">2016</a>
        <a routerLink="/lecture/2015" class="button cyan">2015</a>
        <a routerLink="/lecture/2014" class="button cyan">2014</a>
        <a routerLink="/lecture/2013" class="button cyan">2013</a>
        <a routerLink="/lecture/2012" class="button cyan">2012</a>
        <a routerLink="/lecture/2011" class="button cyan">2011</a>
        <a routerLink="/lecture/2010" class="button cyan">2010</a>
        <a routerLink="/lecture/2009" class="button cyan">2009</a>
        <a routerLink="/lecture/2008" class="button cyan">2008</a>
        <a routerLink="/lecture/2007" class="button cyan">2007</a>
        <a routerLink="/lecture/2006" class="button cyan">2006</a>
        <a routerLink="/lecture/until-2005" class="button cyan">until 2005</a>
      </div>
  
      <!-- Content Center -->
      <div class="col-md-8 content">
        <div *ngFor="let prof of professors" class="row mb-5">
          <h4><b>{{ prof.theme }}</b></h4>
          <a href="../assets/pdf/Amaliy_ish_3.pdf" class="title" target="_blank">
            <b>Introduction to Ubiquitous Computing Laboratory (Korean) - [Click to View]</b>
          </a>
          <a href="../assets/pdf/Amaliy_ish_6.pdf" class="title" target="_blank">
            Introduction to Ubiquitous Computing Laboratory (Korean) - [Click to View]
          </a>
        </div>
      </div>
  
      <!-- Content Right (Bo‘sh joy yoki boshqa content) -->
      <div class="col-md-2 right-content">
        <h2></h2>
      </div>
    </div>
  </div>
  