<div class="app-select-container">
    <p-select
        [style]="{ width: '100%' }"
        class="app-select w-full"
        [options]="options"
        [optionLabel]="optionLabel"
        [optionValue]="optionValue || undefined"
        [placeholder]="placeholder"
        [showClear]="showClear"
        [filter]="filter"
        [multiple]="multiple"
        [disabled]="isDisabled || disabled"
        [dataKey]="dataKey"
        [ngModel]="value"
        (ngModelChange)="onModelChange($event)"
        (onBlur)="onBlur()"
        [ngClass]="{ 'is-invalid': shouldShowErrors() }"
    ></p-select>

    <app-control-error [control]="control" [messages]="errorMessages" />
</div>
