.input-container {
  margin: 8px;
  border-radius: 5px;
}

.input-container input {
  width: 100%;
  padding: 8px 34px 8px 8px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.3s;
  border: 1px solid #ccc;
}

.input-container input:focus {
  border: 1px solid rgba(140, 0, 11, 0.9);
  outline: none;
  box-shadow: 0 0 8px rgba(140, 0, 11, 0.9);
}

.input-container .eye-btn {
  position: absolute;
  right: 5px;
  top: 10px;
  border: none;
  background-color: transparent;
}

.input-container .eye-btn i {
  color: rgba(140, 0, 11, 0.9);
}
