.gtco-container {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  background-color: #ccc;
  padding: 40px 20px;
  color: white;
  min-height: 100vh;
}

.content {
  padding: 100px 40px;
  background: #f9f9f9;
}

.right-content {
  // background-color: #ccc;
  min-height: 100vh;
}

.button {
  display: block;
  background: rgb(52, 103, 134);
  color: #fff;
  margin: 2px 0px 0px 20px;
  text-align: center;
  text-decoration: none;
}

tr {
  width: 160px;
}

td {
  margin-right: 10px;
}

.research-area {
  color: #990000;
}

.row .img img {
  height: 196px;
  width: 150px;
}

h4 {
  margin-top: 20px;
  padding: 10px;
}

.contact-information {
  table,
  td,
  th {
    border: 1px dotted #000;
  }

  .color {
    background: #d9d9d9;
    width: 75%;
  }
}