.gtco-container {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.sidebar {
  background-color: #ccc;
  padding: 40px 20px;
  color: white;
  min-height: 100vh;
}

.content {
  padding: 100px 40px;
}

.right-content {
  min-height: 100vh;
}

.button {
  display: block;
  background: rgb(52, 103, 134);
  color: #fff;
  margin: 5px 0;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
}

.research-area {
  color: rgb(255, 99, 71)
}

.row .img img {
  height: 196px;
  width: 150px;
}

h4 {
  margin-top: 20px;
  padding: 10px;
}

.contact-information {
  table,
  td,
  th {
    border: 1px dotted #000;
  }

  .color {
    background: #eeeeee;
    width: 75%;
  }
}