.gtco-container {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.sidebar {
  background-color: #ccc;
  padding: 40px 10px;
  color: white;
  min-height: 100vh;
  // height: 100%;
}

.content {
  padding: 20px 30px;
}

.right-content {
  // background-color: #ccc;
  min-height: 100vh;
}

.button {
  display: block;
  background: rgb(52, 103, 134);
  color: white;
  text-decoration: none;
  margin: 5px 0;
  border-radius: 3px;
  text-align: center;
}

ul.entry-in-li{
  padding-left: 60px;
  list-style-type:none ;
}

ul.entry-in-li li::before {
  content: "- ";
}
