.gtco-container {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .row:before, .row:after {
    content: " ";
    display: table;
  }
  .row:after {
    clear: both;
  }

.is-table-row {
    display: table;
}
.is-table-row .table-cell {
    float: none;
    display: table-cell;
    vertical-align: top;
    margin-top: 20px;
}

.table-cell{
    padding-top: 60px;
    background-color: #ccc;
}

.side_bar_table{
    display: flex;
    text-align: center;
}

.side_bar_table td {
    flex-direction: column;
    align-items: flex-end;
}

.side_bar_table td a {
    display: block;
    margin-left: auto;
  }

.button{
    background: rgb(52, 103, 134);
    color: #fff;
    display: block;
    margin: 2px 0px 0px 20px;
    text-align: center;
}

.side_bar_table a.button {
  background-color: #2d6684; 
  color: white;
  text-decoration: none;
  border-radius: 3px;
  width: 200px;
  height: 25px;
  text-align: center;
}

tr{
    width: 160px;
}

td{
    width: 100%;
    margin-right:10px ;
}

ul.entry-in-li{
  padding-left: 60px;
  list-style-type:none ;
}

ul.entry-in-li li::before {
  content: "- ";
}
