<div class="gtco-container">
  <div class="row">
    <!-- Content left -->
    <div class="col-md-2 sidebar">
      <a routerLink="/about/overview" class="button cyan"> Overview </a>
      <a routerLink="/contact-us" class="button cyan"> Contact us </a>
    </div>
    <div class="col-md-8 content">
      <div class="add-btn text-end" *ngIf="isAuthenticated">
        <kep-button
          (buttonClick)="openModal()"
          buttonText="Qo'shish"
          buttonType="button"
          buttonWidth="120px"
        >
        </kep-button>
      </div>
      @for (overview of overviews; track $index) {
        <h2>[{{ overview?.['title' + langKey] }}]</h2>

      @for (introduction_item of overview?.['introduction' + langKey]; track $index) {
        <p>{{ introduction_item }}</p>
      }

      @for (researchFocus_item of overview?.researchFocus; track $index) {
        @if (researchFocus_item?.['category' + langKey] && researchFocus_item?.['category' + langKey].length > 0) {
          <p>{{ $index + 1 + '.' + researchFocus_item?.['category' + langKey] }}</p>
          <ul class="entry-in-li">
            @for (details_item of researchFocus_item?.['details' + langKey]; track $index) {
              <li>{{ details_item }}</li>
            }
          </ul>
        } @else {
          <ul>
            @for (details_item of researchFocus_item?.['details' + langKey]; track $index) {
              <li>{{ details_item }}</li>
            }
          </ul>
        }
      }

      @for (conclusion_item of overview?.['conclusion' + langKey]; track $index) {
        <p>{{ conclusion_item }}</p>
      }

      
        <div class="add-btn text-end" *ngIf="isAuthenticated">
          <kep-button
            (buttonClick)="openModal(overview)"
            buttonText="Yangilash"
            buttonType="button"
            buttonWidth="120px"
          >
          </kep-button>
      
          <kep-button
            style="margin-left: 8px"
            (buttonClick)="deleteOverview(overview)"
            buttonText="O'chirish"
            buttonType="button"
            buttonWidth="120px"
          >
          </kep-button>
        </div>
      }
    </div>

    <!-- Content Right (Bo‘sh joy yoki boshqa content) -->
    <div class="col-md-2 right-content">
      <h2></h2>
    </div>
  </div>
  <!-- modal content -->
  <app-modal
    class="add-modal"
    *ngIf="isAuthenticated"
    [modalShow]="modalShow"
    [modalTitle]="currentOverview ? 'Yangilash' : 'Qo\'shish'"
    (modalClose)="modalShow = $event"
  >
    <div class="kep-modal-body">
      <form [formGroup]="overviewForm" (ngSubmit)="submitForm()">
        <!-- Title -->
        <div class="ptb-1">
          <app-input type="text" placeholder="Title (UZ)" formControlName="title"></app-input>
          <app-input type="text" placeholder="Title (RU)" formControlName="title_ru"></app-input>
          <app-input type="text" placeholder="Title (EN)" formControlName="title_en"></app-input>
        </div>

        <!-- Introductions -->
        <div class="ptb-1">
          <div formArrayName="introduction">
            <div *ngFor="let intro of introduction.controls; let i = index">
              <app-input type="text" placeholder="Introduction (UZ)" [formControlName]="i.toString()"></app-input>
            </div>
          </div>
          <div formArrayName="introduction_ru">
            <div *ngFor="let intro of introduction_ru.controls; let i = index">
              <app-input type="text" placeholder="Introduction (RU)" [formControlName]="i.toString()"></app-input>
            </div>
          </div>
          <div formArrayName="introduction_en">
            <div *ngFor="let intro of introduction_en.controls; let i = index">
              <app-input type="text" placeholder="Introduction (EN)" [formControlName]="i.toString()"></app-input>
            </div>
          </div>
          <kep-button buttonText="Add Introduction" buttonWidth="220px" (buttonClick)="addIntroductionAll()"></kep-button>
        </div>
        <!-- ResearchFocus uchun FormArray -->
        <div formArrayName="researchFocus" class="ptb-1">
          <div *ngFor="let focus of researchFocus.controls; let i = index" [formGroupName]="i">
            <app-input placeholder="Category (UZ)" formControlName="category"></app-input>
            <app-input placeholder="Category (RU)" formControlName="category_ru"></app-input>
            <app-input placeholder="Category (EN)" formControlName="category_en"></app-input>
        
            <!-- Details -->
            <div class="ptb-1">
              <div formArrayName="details">
                <div *ngFor="let d of getDetailsArray(i, 'details').controls; let j = index">
                  <app-input placeholder="Detail (UZ)" [formControlName]="j.toString()"></app-input>
                </div>
              </div>
              <div formArrayName="details_ru">
                <div *ngFor="let d of getDetailsArray(i, 'details_ru').controls; let j = index">
                  <app-input placeholder="Detail (RU)" [formControlName]="j.toString()"></app-input>
                </div>
              </div>
              <div formArrayName="details_en">
                <div *ngFor="let d of getDetailsArray(i, 'details_en').controls; let j = index">
                  <app-input placeholder="Detail (EN)" [formControlName]="j.toString()"></app-input>
                </div>
              </div>
              <kep-button buttonText="Add Detail" buttonWidth="220px" (buttonClick)="addDetailAll(i)"></kep-button>
            </div>
          </div>
        </div>
        <div class="ptb-1"></div>
        <!-- conclusion -->
        <div class="ptb-1">
          <div formArrayName="conclusion">
            <div *ngFor="let conc of conclusion.controls; let i = index">
              <app-input type="text" placeholder="Conclusion (UZ)" [formControlName]="i.toString()"></app-input>
            </div>
          </div>
          <div formArrayName="conclusion_ru">
            <div *ngFor="let conc of conclusion_ru.controls; let i = index">
              <app-input type="text" placeholder="Conclusion (RU)" [formControlName]="i.toString()"></app-input>
            </div>
          </div>
          <div formArrayName="conclusion_en">
            <div *ngFor="let conc of conclusion_en.controls; let i = index">
              <app-input type="text" placeholder="Conclusion (EN)" [formControlName]="i.toString()"></app-input>
            </div>
          </div>
          <kep-button buttonText="Add Conclusion" buttonWidth="220px" (buttonClick)="addConclusionAll()"></kep-button>
        </div>
      </form>
    </div>
    <div class="kep-modal-footer">
      <kep-button
        buttonText="Yopish"
        buttonType="button"
        buttonWidth="120px"
        (buttonClick)="closeModal()"
      >
      </kep-button>
      <kep-button
        buttonText="Saqlash"
        buttonType="button"
        buttonWidth="120px"
        (buttonClick)="submitForm()"
      >
      </kep-button>
    </div>
  </app-modal>
</div>
