<div class="gtco-container">
  <div class="row">
          <!-- Content left -->
          <div class="col-md-2 sidebar">
                    <a routerLink="/about/overview" class="button cyan"> Overview </a>
                    <a routerLink="/contact-us" class="button cyan"> Contact us </a>
          </div>
          <div class="col-md-8 content">
            @for (overview of overviews; track $index) {
              <h2>[{{ overview?.title }}]</h2>
              @for (introduction_item of overview?.introduction; track $index) {
                <p>{{ introduction_item }}</p>
              }
              @for (researchFocus_item of overview?.researchFocus; track $index) {
                @if (researchFocus_item?.category && researchFocus_item?.category.length > 0) {
                    <p>{{ $index + 1 + '.' + researchFocus_item?.category }}</p>
                    <ul class="entry-in-li">
                      @for (details_item of  researchFocus_item?.details; track $index) {
                        <li >{{details_item}}</li>
                      }
                    </ul>
                }@else {
                  <ul>
                    @for (details_item of  researchFocus_item?.details; track $index) {
                      <li>{{details_item}}</li>
                    }
                  </ul>
                }
              }
              @for (conclusion_item of overview?.conclusion; track $index) {
                <p>{{ conclusion_item }}</p>
              }
            }
          </div>

          <!-- Content Right (Bo‘sh joy yoki boshqa content) -->
          <div class="col-md-2 right-content">
            <h2></h2>
          </div>
        </div>
      </div>    