<div class="app-input-container">
    @if (type !== 'password') {
        <input
            pInputText
            [type]="nativeInputType"
            class="w-full"
            [placeholder]="placeholder"
            [disabled]="isDisabled || disabled"
            [appNoAutofill]="allowAutofill ? false : value"
            [id]="inputId"
            [attr.autocomplete]="inputAutocomplete"
            [attr.name]="inputName || inputId"
            [attr.inputmode]="inputMode"
            [ngModel]="value"
            (input)="handleNativeInput($event)"
            (ngModelChange)="handleValueChange($event)"
            (blur)="handleBlur()"
            [ngClass]="{ 'is-invalid': shouldShowErrors() }"
        />
    } @else {
        <div class="password-field" [class.is-disabled]="isDisabled || disabled" [class.is-invalid]="shouldShowErrors()">
            <input
                pInputText
                [type]="showPassword ? 'text' : 'password'"
                class="password-field__input"
                [placeholder]="placeholder"
                [disabled]="isDisabled || disabled"
                [appNoAutofill]="allowAutofill ? false : value"
                [id]="inputId"
                [attr.autocomplete]="inputAutocomplete"
                [attr.name]="inputName || inputId"
                [ngModel]="value"
                (input)="handleNativeInput($event)"
                (ngModelChange)="handleValueChange($event)"
                (blur)="onTouched()"
            />
            <button type="button" class="password-field__toggle" [disabled]="isDisabled || disabled" (click)="togglePasswordVisibility()" [attr.aria-label]="passwordToggleLabel" [title]="passwordToggleLabel">
                <i class="pi" [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"></i>
            </button>
        </div>
    }

    <app-control-error [control]="control" [messages]="errorMessages" />
</div>
