<div class="app-input-container">
  <ng-container *ngIf="type !== 'password'; else passwordTpl">
    <input
      pInputText
      [type]="type"
      class="w-full"
      style="height: 40px;"
      [placeholder]="placeholder"
      [disabled]="isDisabled"
      [ngModel]="value"
      (ngModelChange)="onChange($event)"
      (blur)="onTouched()"
      [ngClass]="{ 'is-invalid': shouldShowErrors() }"
    />
  </ng-container>

  <ng-template #passwordTpl>
    <p-password
      [ngModel]="value"
      (ngModelChange)="onChange($event)"
      (onBlur)="onTouched()"
      [toggleMask]="true"
      [feedback]="false"
      [fluid]="true"
      [placeholder]="placeholder"
      [disabled]="isDisabled"
      styleClass="w-full"
      [inputStyle]="{ height: '40px' }"
      [ngClass]="{ 'is-invalid': shouldShowErrors() }"
    ></p-password>
  </ng-template>

  <div *ngIf="shouldShowErrors()" class="invalid-feedback mt-1">
    <small *ngIf="control?.errors?.['required']">Maydon to‘ldirilishi shart</small>
    <small *ngIf="control?.errors?.['email']">Email noto‘g‘ri formatda</small>
    <small *ngIf="control?.errors?.['pattern']">Qiymat noto‘g‘ri formatda</small>
  </div>
</div>
