<div class="app-input-container">
  <ng-container *ngIf="type !== 'password'; else passwordTpl">
    <input
      pInputText
      [type]="nativeInputType"
      class="w-full"
      style="height: 40px;"
      [placeholder]="placeholder"
      [disabled]="isDisabled"
      [attr.autocomplete]="autocomplete || null"
      [attr.name]="inputName || null"
      [attr.inputmode]="inputMode"
      [ngModel]="value"
      (ngModelChange)="handleValueChange($event)"
      (blur)="handleBlur()"
      [ngClass]="{ 'is-invalid': shouldShowErrors() }"
    />
  </ng-container>

  <ng-template #passwordTpl>
    <div class="password-field" [class.is-disabled]="isDisabled" [class.is-invalid]="shouldShowErrors()">
      <input
        pInputText
        [type]="showPassword ? 'text' : 'password'"
        class="password-field__input"
        [placeholder]="placeholder"
        [disabled]="isDisabled"
        [attr.autocomplete]="autocomplete || null"
        [attr.name]="inputName || null"
        [ngModel]="value"
        (ngModelChange)="onChange($event)"
        (blur)="onTouched()"
      />
      <button
        type="button"
        class="password-field__toggle"
        [disabled]="isDisabled"
        (click)="togglePasswordVisibility()"
        [attr.aria-label]="passwordToggleLabel"
        [title]="passwordToggleLabel"
      >
        <i class="pi" [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"></i>
      </button>
    </div>
  </ng-template>

  <app-control-error [control]="control" [messages]="errorMessages" />
</div>
