<div class="gtco-container">
  <div class="row">
          <!-- Content left -->
          <div class="col-md-2 sidebar">
                    <a routerLink="/members/post-doc" class="button cyan">
                      Post Doc.</a>
                    <a routerLink="/members/phd-candidate"
                      class="button cyan">Ph.D Candidate</a>
                    <a routerLink="/members/master-candidate"
                      class="button cyan">Master Candidate</a>
                    <a routerLink="/members/undergraduate"
                      class="button cyan">Undergraduate</a>
                      <a routerLink="/members/alumni"
                      class="button cyan">Alumni</a>
          </div>
          <!-- //////////////////////////////// -->
          <div class="col-md-8 content" >
            <h4 class="title"><b>[Post Doc. Alumni 24 /  {{ professors.length }} persons ]</b></h4>
          
            <div *ngFor="let prof of professors" class="row">
                <h5 class="h54" >{{ prof.nameRole }}</h5>

              <div class="img col-md-3 text-center">
                <img [src]="prof.image" class="img-responsive" />
              </div>
          
              <div class="col-md-9 img-responsive-text">
                <table class="contact-information">
                  <tr>
                    <td>Nationality</td>
                    <td class="color">{{ prof.nationality }}</td>
                  </tr>
                  <tr>
                    <td>year</td>
                    <td class="color research-area">{{ prof.year }}</td>
                  </tr>
                  <tr>
                    <td>Major/Company</td>
                    <td class="color">{{ prof.major }}</td>
                  </tr>
                  <tr>
                    <td>E-mail</td>
                    <td class="color">{{ prof.workMail }}</td>
                  </tr>
                </table>
              </div>
            </div>

            <h4 class="title"><b>[ Ph.D Alumni  31/ {{ professors.length }} persons ]</b></h4>
          
            <div *ngFor="let prof of professors" class="row">
                <h5 class="h54" >{{ prof.nameRole }}</h5>

              <div class="img col-md-3 text-center">
                <img [src]="prof.image" class="img-responsive" />
              </div>
          
              <div class="col-md-9 img-responsive-text">
                <table class="contact-information">
                  <tr>
                    <td>Nationality</td>
                    <td class="color">{{ prof.nationality }}</td>
                  </tr>
                  <tr>
                    <td>year</td>
                    <td class="color research-area">{{ prof.year }}</td>
                  </tr>
                  <tr>
                    <td>Major/Company</td>
                    <td class="color">{{ prof.major }}</td>
                  </tr>
                  <tr>
                    <td>E-mail</td>
                    <td class="color">{{ prof.workMail }}</td>
                  </tr>
                </table>
              </div>
            </div>


            <h4 class="title"><b>[ Ph.D Students Alumni 20 / {{ professors.length }} persons ]</b></h4>
          
            <div *ngFor="let prof of professors" class="row">
                <h5 class="h54" >{{ prof.nameRole }}</h5>

              <div class="img col-md-3 text-center">
                <img [src]="prof.image" class="img-responsive" />
              </div>
          
              <div class="col-md-9 img-responsive-text">
                <table class="contact-information">
                  <tr>
                    <td>Nationality</td>
                    <td class="color">{{ prof.nationality }}</td>
                  </tr>
                  <tr>
                    <td>year</td>
                    <td class="color research-area">{{ prof.year }}</td>
                  </tr>
                  <tr>
                    <td>Major/Company</td>
                    <td class="color">{{ prof.major }}</td>
                  </tr>
                  <tr>
                    <td>E-mail</td>
                    <td class="color">{{ prof.workMail }}</td>
                  </tr>
                </table>
              </div>
            </div>

            <h4 class="title"><b>[ Master Alumni 101 / {{ professors.length }} persons ]</b></h4>
          
            <div *ngFor="let prof of professors" class="row">
                <h5 class="h54" >{{ prof.nameRole }}</h5>

              <div class="img col-md-3 text-center">
                <img [src]="prof.image" class="img-responsive" />
              </div>
          
              <div class="col-md-9 img-responsive-text">
                <table class="contact-information">
                  <tr>
                    <td>Nationality</td>
                    <td class="color">{{ prof.nationality }}</td>
                  </tr>
                  <tr>
                    <td>year</td>
                    <td class="color research-area">{{ prof.year }}</td>
                  </tr>
                  <tr>
                    <td>Major/Company</td>
                    <td class="color">{{ prof.major }}</td>
                  </tr>
                  <tr>
                    <td>E-mail</td>
                    <td class="color">{{ prof.workMail }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <!--  -->
          
          

          <div class="col-md-2 right-content">
            <h2></h2>
          </div>
        </div>
      </div>
