<div class="gtco-container">
  <div class="row">
    <!-- Content left -->
    <div class="col-md-2 sidebar">
      <a routerLink="/members/post-doc" class="button cyan"> Post Doc.</a>
      <a routerLink="/members/phd-candidate" class="button cyan"
        >Ph.D Candidate</a
      >
      <a routerLink="/members/master-candidate" class="button cyan"
        >Master Candidate</a
      >
      <a routerLink="/members/undergraduate" class="button cyan"
        >Undergraduate</a
      >
      <a routerLink="/members/alumni" class="button cyan">Alumni</a>
    </div>
    <!-- //////////////////////////////// -->
    <div class="col-md-8 content">
      <h4 class="title">
        <b>[Post Doc. Alumni ]</b>
      </h4>

      <div class="add-btn text-end" *ngIf="isAuthenticated">
        <kep-button
          (buttonClick)="openModal()"
          buttonText="Qo'shish"
          buttonType="button"
          buttonWidth="120px"
        >
        </kep-button>
      </div>

      <div *ngFor="let member of members" class="row mb-5">
        <div class="img col-md-3 text-center">
          <img [src]="member?.imageUrl" class="img-responsive" />
        </div>
        <div class="col-md-9">
          <h3>{{ member?.fullName }}</h3>

          <table class="contact-information">
            <tr>
              <td>Nationality</td>
              <td class="color">{{ member?.nationality }}</td>
            </tr>
            <tr>
              <td>Year</td>
              <td class="color">{{ member?.year }}</td>
            </tr>
            <tr>
              <td>Major/Company</td>
              <td class="color research-area">{{ member?.major }}</td>
            </tr>
            <tr>
              <td>E-mail</td>
              <td class="color">{{ member?.email }}</td>
            </tr>
          </table>
        </div>
        <div class="add-btn text-end" *ngIf="isAuthenticated">
          <kep-button
            (buttonClick)="openModal(member)"
            buttonText="Yangilash"
            buttonType="button"
            buttonWidth="120px"
          >
          </kep-button>

          <kep-button
            style="margin-left: 8px"
            (buttonClick)="deleteMember(member)"
            buttonText="O'chirish"
            buttonType="button"
            buttonWidth="120px"
          >
          </kep-button>
        </div>
      </div>
    </div>
    <!-- Content Right  -->
    <div class="col-md-2 right-content">
      <h2></h2>
    </div>
  </div>
  <app-modal
    *ngIf="isAuthenticated"
    [modalShow]="modalShow"
    [modalTitle]="currentMember ? 'Yangilash' : 'Qo\'shish'"
    (modalClose)="modalShow = $event"
  >
    <div class="kep-modal-body">
      <form [formGroup]="memberForm" (ngSubmit)="submitForm()">
        <!-- Full Name -->
        <app-input
          type="text"
          placeholder="Full Name"
          formControlName="fullName"
        >
        </app-input>

        <!-- Image upload -->
        <div class="d-flex justify-content-between align-items-center" style="padding-right: 40px;">
          <kep-button
          (buttonClick)="triggerFileInput()"
          buttonText="Rasm tanlash"
          buttonType="button"
          buttonWidth="160px"
        ></kep-button>

        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />

        <!-- Rasm holatini ko‘rsatish -->
          @if(selectedFileName){
          <span>{{ selectedFileName }}</span>
          } @else {
          <span>Rasm tanlanmagan</span>
          }
        </div>

        <!-- Nationality -->
        <app-input
          type="text"
          placeholder="Nationality"
          formControlName="nationality"
        >
        </app-input>

        <!-- ResearchGroup -->
        <app-input
          type="text"
          placeholder="ResearchGroup"
          formControlName="researchGroup"
        >
        </app-input>

        <!-- Year -->
        <app-input type="text" placeholder="Year" formControlName="year">
        </app-input>

        <!-- Major -->
        <app-input type="text" placeholder="Major" formControlName="major">
        </app-input>

        <!-- Email -->
        <app-input type="text" placeholder="Email" formControlName="email">
        </app-input>

        <!-- Research Areas -->
        <h3>Research Areas</h3>
        <div formArrayName="researchAreas">
          <div *ngFor="let area of researchAreas.controls; let i = index">
            <app-input
              type="text"
              placeholder="Research Area"
              [formControlName]="i.toString()"
            >
            </app-input>

            <kep-button
              buttonText="Remove"
              buttonType="button"
              buttonWidth="100px"
              (buttonClick)="removeItem(researchAreas, i)"
            >
            </kep-button>
          </div>
          <kep-button
            buttonText="Add Research Area"
            buttonType="button"
            buttonWidth="180px"
            (buttonClick)="addItem(researchAreas)"
          >
          </kep-button>
        </div>
        <div class="modal-footer">
          <kep-button
            buttonText="Yopish"
            buttonType="button"
            buttonWidth="120px"
            (buttonClick)="closeModal()"
          >
          </kep-button>

          <kep-button
            buttonText="Saqlash"
            buttonType="submit"
            buttonWidth="120px"
          >
          </kep-button>
        </div>
      </form>
    </div>
  </app-modal>
</div>
