<div class="footer-wrapper">
    <div class="container">

        <div class="company-info text-center px-5 col-md-4">
            <img class="company-logo m-auto" src="../assets/logo_ubtuit1.png" alt="Logo">
            <h5  class="company-logo"> Muhammad Al-Хorazmiy nomidagi Toshkent Axborot Texnologiyalari universiteti Urganch filiali </h5>

        </div>
    
        <div class="contact text-center px-5 font-medium-3 align-self-center col-md-4">
            <div class="phone">
                <p class="phone-wrapper" > 
                     <i class="pi pi-phone"></i>  
                     <span>Telefon raqami: +998 62 224 64 32 </span>
                </p>
            </div>
    
            <p class="email">
                 <i class="pi pi-at"></i> 
                 <span>Elektron pochta: info&#64;ubtuit.uz </span>
            </p>
            <p class="addres"><i class="pi pi-map"></i> Manzil: Al-xorazmiy ko`chasi , 110, Urgench, Uzbekistan</p>
            <span class="company-text"> © 2025 Barcha huquqlar himoyalangan </span>
        </div>
    
        <div class="social text-center px-5 font-medium-3 align-self-center col-md-4">
            <p class="Social-text">Ijtimoiy tarmoqlar</p>
            <div class="social-icons">
                <a href="#" class="social-icons-tags text-white px-2"><i class="fa-brands fa-telegram"></i></a>
                <a href="#" class="social-icons-instagram text-white px-2"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class="social-icons-tags text-white px-2"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="social-icons-youtube text-white px-2"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
</div>