<div class="gtco-container">
  <div class="row">
    <!-- Content left -->
    <div class="col-md-2 sidebar">
      <a routerLink="/professor/professor" class="button cyan">
        Professor</a>
      <a routerLink="/professor/industrial-professor"
        class="button cyan">Industrial Professor</a>
      <a routerLink="/professor/collaboration-professor"
        class="button">Collaboration professor</a>
      <a routerLink="/professor/visiting-professor"
        class="button cyan">Visiting professor</a>
</div>
    <div class="col-md-8 content">
      <!-- //////////////////////////////////////////////////////////// -->
      <div class="row">
        <div class="img col-md-3 text-center">
          <img [src]="professor.image" class="img-responsive" />
          <!-- <br><br> -->
        </div>

        <div class="col-md-9">
          <table>
            <tbody>
              <tr>
                <td>
                  <h1>{{ professor.nameRole }}</h1>

                  <div class="prof_detail">
                    <p>{{ professor.position }},</p>
                    <p>{{ professor.department }}</p>
                    <p>{{ professor.university }}</p>
                    <br />

                    <b>Research Area:</b><br />
                    <span
                      class="research-area"
                      *ngFor="let area of professor.researchAreas"
                    >
                      - {{ area }} <br />
                    </span>
                    <!-- <br> -->
                  </div>

                  <b size="4">Contact Informations</b><br />
                  <table class="col-md-12 table-tabs">
                    <tbody>
                      <tr>
                        <td class="contact_info-main">Address</td>
                        <td class="contact_info col-md-10">
                          {{ professor.contact.address }}
                        </td>
                      </tr>
                      <tr>
                        <td class="contact_info-main">E-mail</td>
                        <td class="contact_info">
                          {{ professor.contact.email }}
                        </td>
                      </tr>
                      <tr>
                        <td class="contact_info-main">Office</td>
                        <td class="contact_info">
                          {{ professor.contact.office }}
                        </td>
                      </tr>
                      <tr>
                        <td class="contact_info-main">Cell</td>
                        <td class="contact_info">
                          {{ professor.contact.cell }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- //////////////////////////////////////////////// -->

      <h3>*Educational Information</h3>

      <table class="educational-information">
        <tbody>
          <tr *ngFor="let titl of professor.title">
            <th class="th1 table-h"><b>{{titl.year}}</b></th>
            <th class="th2 table-h"><b>{{titl.university}}</b></th>
            <th class="th3 table-h"><b>{{titl.major}}</b></th>
            <th class="th3 table-h1"><b>{{titl.degree}}</b></th>
          </tr>

          <tr *ngFor="let EdI of professor.EducationalInformations">
            <td class="th1">{{EdI.year}}</td>
            <td class="th2">{{EdI.university}}</td>
            <td class="th3 table-h"> {{EdI.major}} </td>
            <td class="th3 table-h1"> {{EdI.degree}} </td>
          </tr>
        </tbody>
      </table>

      <!-- /*/*/*/*/************************** -->
      <h3>*Career Information</h3>

      <table class="educational-information">
        <tbody>
          <tr *ngFor="let titl of professor.title">
            <th class="th1"><b>{{titl.year}}</b></th>
            <th class="th1"><b>{{titl.career}}</b></th>
            <th class="th2"><b>{{titl.university}}</b></th>
          </tr>
          <tr *ngFor="let CaI of professor.CareerInformations">
            <td class="th1">{{CaI.year}}</td>
            <td class="th1">{{CaI.career}}</td>
            <td class="th2">{{CaI.universuty}}</td>
          </tr>
        </tbody>
      </table>
      <!-- /*///////////////////////////////////////// -->

      <h3>*Awards</h3>

      <table class="educational-information">
        <tbody>
          <tr *ngFor="let titl of professor.title">
            <th class="th4"><b>{{titl.year}}</b></th>
            <th class="th5"><b>{{titl.awardTitle}}</b></th>
          </tr>

          <tr *ngFor="let awrds of professor.Awards">
            <td class="th4">{{awrds.year}}</td>
            <td class="th5">{{awrds.title}}</td>
          </tr>

        </tbody>
      </table>

      <!-- /////////////////////////////////////////////// -->
    </div>

    <div class="col-md-2 right-content">
      <h2></h2>
    </div>
  </div>
</div>
