<div class="gtco-container">
    <div class="row">
      <!-- Content Left (Sidebar) -->
      <div class="col-md-2 sidebar">
        <a routerLink="/Publications/2025" class="button cyan">2025</a>
        <a routerLink="/publications/2024" class="button cyan">2024</a>
        <a routerLink="/publications/2023" class="button cyan">2023</a>
        <a routerLink="/publications/2022" class="button cyan">2022</a>
        <a routerLink="/publications/2021" class="button cyan">2021</a>
        <a routerLink="/publications/2020" class="button cyan">2020</a>
        <a routerLink="/publications/2019" class="button cyan">2019</a>
        <a routerLink="/publications/2018" class="button cyan">2018</a>
        <a routerLink="/publications/2017" class="button cyan">2017</a>
        <a routerLink="/publications/2016" class="button cyan">2016</a>
        <a routerLink="/publications/2015" class="button cyan">2015</a>
        <a routerLink="/publications/2014" class="button cyan">2014</a>
        <a routerLink="/publications/2013" class="button cyan">2013</a>
        <a routerLink="/publications/2012" class="button cyan">2012</a>
        <a routerLink="/publications/2011" class="button cyan">2011</a>
        <a routerLink="/publications/2010" class="button cyan">2010</a>
        <a routerLink="/publications/2009" class="button cyan">2009</a>
        <a routerLink="/publications/2008" class="button cyan">2008</a>
        <a routerLink="/publications/all" class="button cyan">All Publications</a>
      </div>
  
      <!-- Content Center -->
      <div class="col-md-8 content">
        <div *ngFor="let prof of professors" class="row mb-5">
          <h4><b>sd</b></h4>
          
        </div>
      </div>
  
      <!-- Content Right (Bo‘sh joy yoki boshqa content) -->
      <div class="col-md-2 right-content">
        <h2></h2>
      </div>
    </div>
  </div>
  