<div class="middle-container">
  <div class="footer-wrapper">
    <div class="container">
      <div class="company-info text-center px-5 col-md-8">
        <h1 class="company-logo text-white"> {{"NAVBAR.TITLE" | translate}} </h1>
        <p>
          {{"HOMEPAGE.DESCRIPTION" | translate}}
        </p>
      </div>

      <div
        class="social text-center px-5 font-medium-3 align-self-center col-md-4"
      >
        <h2 class="Social-text">{{"HOMEPAGE.TITLE2" | translate}}</h2>
        <div class="social-icons">
          <a class="social-icons-tags text-white"
            ><i class="fa-solid fa-box"></i> Intelligent Medical Platform</a
          >
          <a class="social-icons-tags text-white px-2"
            ><i class="fa-solid fa-box"></i> Asi&#64;Connect IMS over TEIN</a
          >
          <a class="social-icons-tags text-white px-2"
            ><i class="fa-solid fa-box"></i> LEAN UX Platform</a
          >
          <a class="social-icons-tags text-white px-2"
            ><i class="fa-solid fa-box"></i> Mining Minds</a
          >
          <a class="social-icons-tags text-white px-2"
            ><i class="fa-solid fa-box"></i> Smart CDSS</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div id="gtco-features" class="border-bottom" data-section="features">
  <div class="gtco-container">
    <div
      class="row animate-box fadeInLeft animated-fast"
      data-animate-effect="fadeInLeft"
    >
      <div class="flist" *ngFor="let feature of features">
        <div class="feature-center">
          <a style="cursor: pointer">
            <span class="icon">
              <i [class]="feature.icon"></i>
            </span>
            <h3>{{ feature.title | translate }}</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
