<div class="gtco-container">
  <div class="row">
    <!-- Content Left (Sidebar) -->
    <div class="col-md-2 sidebar">
      <a routerLink="/professor/professor" class="button cyan"> Professor</a>
      <a routerLink="/professor/industrial-professor" class="button cyan"
        >Industrial Professor</a
      >
      <a routerLink="/professor/collaboration-professor" class="button"
        >Collaboration professor</a
      >
      <a routerLink="/professor/visiting-professor" class="button cyan"
        >Visiting professor</a
      >
    </div>
    <!-- //////////////////////////////// -->
    <div class="col-md-8 content">
      <div class="add-btn text-end">
        <kep-button
          (buttonClick)="openModal()"
          buttonText="Qo'shish"
          buttonType="button"
          buttonWidth="120px"
        >
        </kep-button>
      </div>
      <!-- //////////////////////////////////////////////////////////// -->
      <div *ngFor="let prof of professors" class="row mb-5">
        <div class="img col-md-3 text-center">
          <img [src]="prof?.imageUrl" class="img-responsive" />
        </div>
        <div class="col-md-9">
          <h3>{{ prof?.fullName }}</h3>

          <!-- <div class="prof_detail"><b>Experience</b><br/></div> -->
          <div class="col-md-12">
            <p class="contact_info">{{ prof?.position }}</p>
            <p class="contact_info">{{ prof?.university }}</p>
          </div>

          <h3>Research Area :</h3>
          <div class="d-flex flex-column">
            <span
              class="research-area"
              *ngFor="let pr of prof?.researchAreas"
              >{{ pr }}</span
            >
          </div>
          <!-- 
              Qo'shib bo'lsa table bo'lmasa garakmidi!!!    
              -->
          <h4>Contact Informations</h4>
          <table class="contact-information">
            <tr>
              <td class="color">Period</td>
              <td>{{ prof?.contact?.period }}</td>
            </tr>
            <tr>
              <td class="color">Website</td>
              <td>{{ prof?.website }}</td>
            </tr>
            <tr>
              <td class="color">E-mail</td>
              <td>{{ prof?.contact?.email }}</td>
            </tr>
          </table>
        </div>
        <div class="add-btn text-end">
          <kep-button
            (buttonClick)="openModal(prof)"
            buttonText="Yangilash"
            buttonType="button"
            buttonWidth="120px"
          >
          </kep-button>

          <kep-button
            style="margin-left: 8px"
            (buttonClick)="deleteProfessor(prof)"
            buttonText="O'chirish"
            buttonType="button"
            buttonWidth="120px"
          >
          </kep-button>
        </div>
      </div>

      <!-- class="col-md-8 table-cell" pastda -->
    </div>

    <!--  -->

    <div class="col-md-2 right-content">
      <h2></h2>
    </div>
  </div>
  <app-modal
    [modalShow]="modalShow"
    [modalTitle]="currentProfessor ? 'Yangilash' : 'Qo\'shish'"
    (modalClose)="modalShow = $event"
  >
    <div class="kep-modal-body">
      <form [formGroup]="professorForm" (ngSubmit)="submitForm()">
        <!-- Full Name -->
        <app-input
          type="text"
          placeholder="Full Name"
          formControlName="fullName"
        >
        </app-input>

        <!-- Image upload -->
        <div class="d-flex justify-content-between align-items-center" style="padding-right: 40px;">
          <kep-button
          (buttonClick)="triggerFileInput()"
          buttonText="Rasm tanlash"
          buttonType="button"
          buttonWidth="160px"
        ></kep-button>

        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />

        <!-- Rasm holatini ko‘rsatish -->
          @if(selectedFileName){
          <span>{{ selectedFileName }}</span>
          } @else {
          <span>Rasm tanlanmagan</span>
          }
        </div>

        <!-- Position -->
        <app-input
          type="text"
          placeholder="Position"
          formControlName="position"
        >
        </app-input>

        <!-- Department -->
        <app-input
          type="text"
          placeholder="Department"
          formControlName="department"
        >
        </app-input>

        <!-- University -->
        <app-input
          type="text"
          placeholder="University"
          formControlName="university"
        >
        </app-input>

        <!-- Nationality -->
        <app-input
          type="text"
          placeholder="Nationality"
          formControlName="nationality"
        >
        </app-input>

        <!-- ResearchGroup -->
        <app-input
          type="text"
          placeholder="ResearchGroup"
          formControlName="researchGroup"
        >
        </app-input>

        <!-- Website -->
        <app-input
          type="text"
          placeholder="Website"
          formControlName="website"
        >
        </app-input>

        <app-input
          type="text"
          placeholder="imageUrl"
          formControlName="imageUrl"
        >
        </app-input>

        <!-- Contact Details -->
        <div formGroupName="contact">
          <app-input
            type="email"
            placeholder="Email"
            formControlName="email"
          ></app-input>
          <app-input
            type="text"
            placeholder="Office Phone"
            formControlName="officePhone"
          ></app-input>
          <app-input
            type="text"
            placeholder="Cell Phone"
            formControlName="cellPhone"
          ></app-input>
          <app-input
            type="text"
            placeholder="Office Fax"
            formControlName="officeFax"
          ></app-input>
          <app-input
            type="text"
            placeholder="Period"
            formControlName="period"
          ></app-input>
        </div>

        <!-- Research Areas -->
        <h3>Research Areas</h3>
        <div formArrayName="researchAreas">
          <div *ngFor="let area of researchAreas.controls; let i = index">
            <app-input
              type="text"
              placeholder="Research Area"
              [formControlName]="i"
            >
            </app-input>

            <kep-button
              buttonText="Remove"
              buttonType="button"
              buttonWidth="100px"
              (buttonClick)="removeItem(researchAreas, i)"
            >
            </kep-button>
          </div>
          <kep-button
            buttonText="Add Research Area"
            buttonType="button"
            buttonWidth="180px"
            (buttonClick)="addItem(researchAreas)"
          >
          </kep-button>
        </div>

        <!-- Education -->
        <h3>Education</h3>
        <div formArrayName="education">
          <div
            *ngFor="let edu of education.controls; let i = index"
            [formGroupName]="i"
          >
            <app-input
              type="text"
              placeholder="Year"
              formControlName="year"
            ></app-input>
            <app-input
              type="text"
              placeholder="University"
              formControlName="university"
            ></app-input>
            <app-input
              type="text"
              placeholder="Major"
              formControlName="major"
            ></app-input>
            <app-input
              type="text"
              placeholder="Degree"
              formControlName="degree"
            ></app-input>
            <kep-button
              buttonText="Remove"
              buttonType="button"
              buttonWidth="180px"
              (buttonClick)="removeItem(education, i)"
            ></kep-button>
          </div>
          <kep-button
            buttonText="Add Education"
            buttonType="button"
            buttonWidth="180px"
            (buttonClick)="addEducation()"
          ></kep-button>
        </div>

        <!-- Career -->
        <h3>Career</h3>
        <div formArrayName="career">
          <div
            *ngFor="let careerItem of career.controls; let i = index"
            [formGroupName]="i"
          >
            <app-input
              type="text"
              placeholder="Year"
              formControlName="year"
            ></app-input>
            <app-input
              type="text"
              placeholder="Position"
              formControlName="position"
            ></app-input>
            <app-input
              type="text"
              placeholder="University"
              formControlName="university"
            ></app-input>
            <kep-button
              buttonText="Remove"
              buttonType="button"
              buttonWidth="180px"
              (buttonClick)="removeItem(career, i)"
            ></kep-button>
          </div>
          <kep-button
            buttonText="Add Career"
            buttonType="button"
            buttonWidth="180px"
            (buttonClick)="addCareer()"
          ></kep-button>
        </div>

        <!-- Awards -->
        <h3>Awards</h3>
        <div formArrayName="awards">
          <div
            *ngFor="let award of awards.controls; let i = index"
            [formGroupName]="i"
          >
            <app-input
              type="text"
              placeholder="Year"
              formControlName="year"
            ></app-input>
            <app-input
              type="text"
              placeholder="Title"
              formControlName="title"
            ></app-input>
            <kep-button
              buttonText="Remove"
              buttonType="button"
              buttonWidth="180px"
              (buttonClick)="removeItem(awards, i)"
            ></kep-button>
          </div>
          <kep-button
            buttonText="Add Award"
            buttonType="button"
            buttonWidth="180px"
            (buttonClick)="addAward()"
          ></kep-button>
        </div>

        <div class="modal-footer">
          <kep-button
            buttonText="Yopish"
            buttonType="button"
            buttonWidth="120px"
            (buttonClick)="closeModal()"
          >
          </kep-button>

          <kep-button
            buttonText="Saqlash"
            buttonType="submit"
            buttonWidth="120px"
            (buttonClick)="submitForm()"
          >
          </kep-button>
        </div>
      </form>
    </div>
  </app-modal>
</div>
