.gtco-container {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: flex-start;
}

/* Sidebar - Chap qism */
.sidebar {
  background-color: #ccc;
  padding: 40px 20px;
  color: white;
  min-height: 100vh;
}

/* Asosiy Content - O‘rta qism */
.content {
  padding:100px 40px;
  // background: #f9f9f9;
}

/* O‘ng Tomon (Agar kerak bo‘lsa) */
.right-content {
  // background-color: #ccc;
  min-height: 100vh;
}

/* Sidebar button */
.button {
  display: block;
  background: rgb(52, 103, 134);
  color: white;
  text-decoration: none;
  margin: 5px 0;
  border-radius: 3px;
  text-align: center;
}

customers {
  border-collapse: collapse;
  width: 100%;
}

.customers td, .customers th {
  padding: 8px;
}

.customers tr {
  text-align: center;
  border-bottom: 2px dotted #ccc;
}

.customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
  border-top: 2px dotted #ccc;
  border-bottom: 2px dotted #ccc;
  background-color: #d9d9d9;
}

.fa-regular{
  color: #ff0000;
}