<div class="login-container">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit($event)"
    class="form-container"
  >
    <p class="register-text text-center">Tizimga kirish</p>

    <app-input
      type="email"
      placeholder="Emailingiz"
      formControlName="email"
      [required]="true"
    ></app-input>

    <app-input
      type="password"
      [password]="true"
      placeholder="Parol"
      formControlName="password"
      [required]="true"
    ></app-input>

    <div *ngIf="errorMessage" class="alert alert-danger text-center mt-2">
      {{ errorMessage }}
    </div>

    <div class="text-center">
      <kep-button 
        buttonText="Tizimga kirish" 
        buttonType="submit" 
        buttonWidth="220px">
      </kep-button>
    </div>
  </form>
</div>
